/* Importing custom font */
@font-face {
    font-family: "Geist Sans";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

/* General reset and box-sizing */
*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Scroll snapping for the sections */
html {
    scroll-snap-type: y mandatory;
}

/* Body styles */
body {
    min-height: 100vh;
    font-family: "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    font-weight: 80;
    background: black;
    color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Paragraph styles */
p {
    max-width: 90%;
    margin: 0 auto;
}

/* Section and article styles */
section {
    scroll-snap-align: start;
    height: 100vh;
    padding: 2rem 1rem;
    display: grid;
    align-content: center;
}

article {
    min-height: 100vh;
}

/* Heading styles */
h1, h2 {
    font-weight: 700;
    font-size: clamp(2rem, 5vw, 4rem);
    letter-spacing: -0.075ch;
    margin: 0;
    padding: 0.5rem 1rem;
    color: black;
}

/* Navigation styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.7);
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

nav img {
    width: 48px;
}

/* Indicator styles */
.indicators {
    width: 20px;
    position: fixed;
    top: 50%;
    right: 1rem;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(-50%);
}

.indicator {
    background: linear-gradient(black, black) padding-box;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid transparent;
}

/* Fixed image styles */
.fixed img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Content styles */
.content {
    margin: 0 auto;
    width: 90%;
    max-width: 100%;
    padding: 1rem;
    text-align: center;
}

/* Text block styles */
.text-blocks {
    width: 100%;
    max-width: 100%;
    display: grid;
    place-items: center;
    gap: 2rem 0;
    padding-right: 1rem;
}

.text-blocks p {
    font-size: clamp(1rem, 0.5vw + 1rem, 2rem);
    font-weight: 120;
    margin: 0.5rem 0;
}

/* Scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Keyframes and animations */
@supports (animation-timeline: scroll()) {
    section:nth-of-type(1) article { view-timeline: --article-one; }
    section:nth-of-type(2) article:nth-of-type(1) { view-timeline: --article-two; }
    section:nth-of-type(2) article:nth-of-type(2) { view-timeline: --article-three; }
    section:nth-of-type(2) article:nth-of-type(3) { view-timeline: --article-four; }
    section:nth-of-type(2) article:nth-of-type(4) { view-timeline: --article-five; }

    .fixed {
        position: fixed;
        inset: 0;
    }
    .static {
        position: absolute;
        inset: 0;
        z-index: 6;
    }
    .filler {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 30vh;
        padding: 1rem;
    }

    .text-blocks p {
        animation: slide-in, fade-in;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-timeline: --article-four;
    }

    .text-blocks p:nth-of-type(1) { animation-range: entry-crossing 50% entry-crossing 55%; }
    .text-blocks p:nth-of-type(2) { animation-range: entry-crossing 55% entry-crossing 60%; }
    .text-blocks p:nth-of-type(3) { animation-range: entry-crossing 60% entry-crossing 65%; }
    .text-blocks p:nth-of-type(4) { animation-range: entry-crossing 65% entry-crossing 70%; }
    .text-blocks p:nth-of-type(5) { animation-range: entry-crossing 70% entry-crossing 75%; }

    section:nth-of-type(2) article:last-of-type {
        z-index: 5;
    }
    section:nth-of-type(2) article:nth-of-type(3) {
        height: 400vh;
    }
    section:nth-of-type(2) article:nth-of-type(3) h2 {
        margin-top: 80vh;
    }
    section:nth-of-type(2) article:last-of-type .fixed {
        clip-path: ellipse(220% 200% at 50% 300%);
        animation: unclip both linear;
        animation-timeline: --article-five;
        animation-range: entry 20% entry 80%;
    }
    .filler h2 {
        animation: fade-away, fade-out;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-timeline: --article-four;
        animation-range: exit 40% exit 75%, exit 70% exit 90%;
    }
    .loud-wrap {
        clip-path: inset(0 0 0 0);
        animation: unmask both linear;
        animation-timeline: --article-two;
        animation-range: entry 20% entry 80%;
        mask: linear-gradient(white 50%, transparent) 0 100% / 100% 200% no-repeat;
    }
    .text-wrap {
        position: sticky;
        bottom: 4rem;
        transform-origin: 50% 0;
        animation: fade-away both linear, fade-out both linear;
        animation-timeline: --article-two;
        animation-range: exit 40% exit 75%, exit 70% exit 100%;
    }
    .text-blocks {
        animation: fade-out both linear;
        animation-timeline: --article-four;
        animation-range: entry-crossing 75% entry-crossing 100%;
    }
    section:nth-of-type(2) article:nth-of-type(3) .fixed {
        animation: fade-in both linear, fade-out both linear;
        animation-timeline: --article-four, --article-four;
        animation-range: entry 45% exit-crossing 0%, exit 0% exit 15%;
    }

    section:nth-of-type(2) article:nth-of-type(2) .fixed {
        animation: fade-in;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-timeline: --article-three;
        animation-range: entry 60% exit 30%;
    }
    section:nth-of-type(2) article:nth-of-type(2) h2 {
        animation: slide-in, fade-in, fade-away, fade-out;
        animation-fill-mode: both;
        animation-timing-function: linear;
        animation-timeline: view(), view(), --article-three, --article-three;
        animation-range: entry 100% cover 25%, entry 100% cover 35%, exit 20% exit 40%, exit 40% exit 50%;
    }
    section:nth-of-type(2) article:first-of-type h2 {
        animation: slide-up both linear;
        animation-timeline: --article-two;
        animation-range: entry 20% entry 80%;
    }
    section:nth-of-type(2) article:first-of-type img {
        animation: scale-down both linear;
        animation-timeline: --article-two;
        animation-range: entry;
    }
    section:nth-of-type(2) article:first-of-type .fixed {
        clip-path: ellipse(220% 200% at 50% 300%);
        animation: unclip both linear;
        animation-timeline: --article-two;
        animation-range: entry 0 entry 100%;
    }
    section:first-of-type {
        view-timeline: --section;
    }
    section:first-of-type .fixed {
        animation: scale-and-move both linear, fade-out both linear;
        animation-timeline: --section;
        animation-range: exit 0% exit 50%, exit 0% exit 25%;
        transform-origin: 50% 0;
    }

    /* Keyframes collection */
    @keyframes slide-in {
        0% {
            transform: translateY(100%);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
    }

    @keyframes fade-out {
        100% {
            opacity: 0;
        }
    }

    @keyframes fade-away {
        100% {
            transform: translateY(-100%);
        }
    }

    @keyframes unmask {
        100% {
            mask-position: 0 0;
        }
    }

    @keyframes unclip {
        100% {
            clip-path: inset(0 0 0 0);
        }
    }

    @keyframes slide-up {
        0% {
            transform: translateY(100%);
        }
    }

    @keyframes scale-down {
        0% {
            transform: scale(1.6);
        }
    }

    @keyframes scale-and-move {
        0% {
            transform: scale(1.25) translateY(20%);
        }
    }
}
