body, html {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  overflow: auto;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 28px;
}

.try-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 550;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.try-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.pane {
  flex: 0 0 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.pane h1 {
  font-size: 2.3em;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.pane p {
  font-size: 1.2em;
  font-weight: 300;
  color: black;
  line-height: 1.5;
}

#header-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: black;
  
}

#dynamic-text {
    display: inline-block;
    min-width: 150px;
/*     border-right: 2px solid black; */
    padding-right: 5px;
    animation: blink 0.7s infinite;
}

#dynamic-text .highlight-yellow {
    background-color: rgba(244, 180, 0, 0.1);
}

#dynamic-text .highlight-blue {
    background-color: rgba(66, 133, 244, 0.1);
}

#dynamic-text .highlight-red {
    background-color: rgba(234, 67, 53, 0.1);
}

#health-score-pane {
}

#planning_pane {
}

#be-bold-text {
    text-align: left;
    font-size: 3em;
}

.lefties {
    text-align: left;
}

.health-score-image {
  max-width: 40%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.planning_img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 20px auto;
}


/* Media query for mobile devices */
@media (max-width: 600px) {
  .pane h1 {
    font-size: 1.9em;
  }
  
  #header-text {
  font-size: 30px;
}
  
  #health-score-pane {
    font-size: 1.5em;
}
  
  #planning_pane {
    font-size: 1.4em;
}
  
  .planning_img {
  max-width: 90%;
}
  
}
